<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <c-row class="mb-4">

          <c-col sm="5">
            <h4 class="card-title mb-0">Change Email</h4>
          </c-col>

          <c-col class="d-none d-md-block" sm="7">

          </c-col>

        </c-row>
        <c-row *ngIf="cargando()">
          <div class="fade show" style="text-align: center; padding: 50px;">
            <i class="spinner-grow spinner-grow-sm"></i>
            <span class="m-1">Loading...</span>
          </div>
        </c-row>

        <c-row *ngIf="!cargando()" class="mb-4 overflow-hidden" [gutter]="{gx: 5}">
          <c-col sm="5">
            <c-row class="mb-3">
              <form [formGroup]="myForm" (ngSubmit)="onSubmit()" cForm class="row g-3">



                <c-row class="mb-3">
                  <c-col [md]="12">

                    <label cLabel >Current Email</label>
                    <input cFormControl  formControlName="oldEmail" type="email"  readOnly />

                  </c-col>
                </c-row>

                <c-row class="mb-3">
                  <c-col [md]="12">

                    <label cLabel >New Email</label>
                    <input cFormControl formControlName="email" type="email" placeholder="example@email.com" [valid]="myForm.controls['email'].touched && myForm.controls['email'].valid
                ? true
                : (myForm.controls['email'].touched) && myForm.controls['email'].invalid
                ? false
                : undefined" />

                    <c-form-feedback [valid]="false" *ngIf="isValidField('email')">
                      {{ getFieldError('email') }}
                    </c-form-feedback>
                  </c-col>
                </c-row>

                <c-row class="mb-3">
                  <c-col [md]="12">

                    <label cLabel>Password</label>
                    <input cFormControl formControlName="password" placeholder="Password" [valid]="myForm.controls['password'].touched && myForm.controls['password'].valid
                ? true
                : (myForm.controls['password'].touched) && myForm.controls['password'].invalid
                ? false
                : undefined" type="password" />

                    <c-form-feedback [valid]="false" *ngIf="isValidField('password')">
                      {{ getFieldError('password') }}
                    </c-form-feedback>

                  </c-col>
                </c-row>
                <c-row class="mb-3">
                  <c-col [xs]="12">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <button cButton [routerLink]="['/admin/usuarios', user()!._id]" color="danger" variant="outline" class="me-md-2">Cancel</button>
                      <button cButton type="submit">Save Changes</button>
                    </div>

                  </c-col>
                </c-row>

              </form>
            </c-row>
          </c-col>


        </c-row>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>
